

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.location {
  padding: 10px;
}

.form {
  padding: 5px;
}

.button {
  padding: 5px;
  margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  color:beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px
}

.chart-container {
  align-items: center;
  display:block ;
  margin: auto;
  margin-top: 20px;
  width: 70vw;
  height: 100vh;
}

.chart-alternative {
  text-align: center;
  padding: 40px 40px;
  height: 100vh;
}

@media screen and (max-width: 450px) {
  .chart-container{
  width: 85vw;
}}



.weather-today {
  padding-top: 10px;
  padding-bottom: 10px;
}


.forecast {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.weather-text-container {
  text-align: left;
}

h2 {
  margin: 0 15px
}
