.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chart-container {
  align-items: center;
  display:block ;
  margin: auto;
  margin-top: 20px;
  width: 350px;
  height: 350px;
}

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.location {
  padding: 10px;
}

.form {
  padding: 5px;
}

.button {
  padding: 5px;
  margin-top: 10px;
}

.App-header {
  background-color: #282c34;
  color:beige;
  display: flex;
  justify-content: center;
  align-items: center;
}


