* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    background: linear-gradient(
      60deg,
      rgb(116,149,154) 10%,
      rgb(241, 224, 172) 80%
    ) fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
